In [2]:
import pandas as pd

In [6]:
plan = pd.read_excel("plik kampanii Skoda Octavia.xlsx", sheet_name='PLAN')

In [7]:
plan.head(10)

,TG: All 25-69 HHI 3500+,Unnamed: 1,Unnamed: 2,Czas Kamapanii: 1.09-20.09,Unnamed: 4,Unnamed: 5,"Spot 15""",Grupy zakupowe: All16-49 (TVP All16:59),Unnamed: 8,Unnamed: 9,...,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,2020-09-06 00:00:00,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Stacje:,TVP,TVP tematyki,NaN,NaN,NaN
1,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Data,Copy,Product,Month,Week,Day,Time,Poz,Position,DPS,...,Nr. Poz,Sum. Pos,Pos,cennik koszt,cennik CPP,po,cennik/pakiet,poprawnosc,NrZlecenia,row_nr
4,2020-09-01 00:00:00,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,NaN,NaN,NaN,18:35:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379349/20/H1/JP,6
5,2020-09-01 00:00:00,15,Skoda/OCTAVIA_KOMBI_15s/23.07.2020,NaN,NaN,NaN,20:15:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379349/20/H1/JP,7
6,2020-09-01 00:00:00,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,NaN,NaN,NaN,20:35:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379349/20/H1/JP,8
7,2020-09-02 00:00:00,15,Skoda/OCTAVIA_KOMBI_15s/23.07.2020,NaN,NaN,NaN,18:15:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379349/20/H1/JP,9
8,2020-09-02 00:00:00,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,NaN,NaN,NaN,22:35:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379349/20/H1/JP,10
9,2020-09-03 00:00:00,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,NaN,NaN,NaN,17:35:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379349/20/H1/JP,11

In [12]:
plan.columns =  plan.iloc[3].values

In [13]:
plan.columns

Index(['Data', 'Copy', 'Product', 'Month', 'Week', 'Day', 'Time', 'Poz',
       'Position', 'DPS', 'Kontrolna', 'Ch', 'TV station', 'Programme',
       'Doc GRP plan 16-29', 'Plan GRP 16-49', 'Plan GRP 16-34urban',
       'Plan GRP 16-49cab&sat', 'Plan GRP 16-29', 'Plan Doc GRP xx-yy',
       'Doc Plan GRP Łapka', 'Doc GRP post 16-29', 'Post GRP 16-49',
       'Post GRP 16-34urban', 'Post GRP 16-49cab&sat', 'Post GRP 16-29',
       'Post Doc GRP xx-yy', 'OBOP', 'Post Total', 'INDEX', 'PT/OFF',
       'Nr. Poz', 'Sum. Pos', 'Pos', 'cennik koszt', 'cennik CPP', 'po',
       'cennik/pakiet', 'poprawnosc', 'NrZlecenia', 'row_nr'],
      dtype='object')

In [14]:
plan.head(20)

,Data,Copy,Product,Month,Week,Day,Time,Poz,Position,DPS,...,Nr. Poz,Sum. Pos,Pos,cennik koszt,cennik CPP,po,cennik/pakiet,poprawnosc,NrZlecenia,row_nr
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Stacje:,TVP,TVP tematyki,NaN,NaN,NaN
1,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Data,Copy,Product,Month,Week,Day,Time,Poz,Position,DPS,...,Nr. Poz,Sum. Pos,Pos,cennik koszt,cennik CPP,po,cennik/pakiet,poprawnosc,NrZlecenia,row_nr
4,2020-09-01 00:00:00,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,NaN,NaN,NaN,18:35:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379349/20/H1/JP,6
5,2020-09-01 00:00:00,15,Skoda/OCTAVIA_KOMBI_15s/23.07.2020,NaN,NaN,NaN,20:15:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379349/20/H1/JP,7
6,2020-09-01 00:00:00,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,NaN,NaN,NaN,20:35:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379349/20/H1/JP,8
7,2020-09-02 00:00:00,15,Skoda/OCTAVIA_KOMBI_15s/23.07.2020,NaN,NaN,NaN,18:15:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379349/20/H1/JP,9
8,2020-09-02 00:00:00,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,NaN,NaN,NaN,22:35:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379349/20/H1/JP,10
9,2020-09-03 00:00:00,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,NaN,NaN,NaN,17:35:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379349/20/H1/JP,11
10,2020-09-03 00:00:00,15,Skoda/OCTAVIA_KOMBI_15s/23.07.2020,NaN,NaN,NaN,18:35:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379349/20/H1/JP,12
11,2020-09-03 00:00:00,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,NaN,NaN,NaN,19:15:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379349/20/H1/JP,13
12,2020-09-03 00:00:00,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,NaN,NaN,NaN,20:15:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379349/20/H1/JP,14
13,2020-09-03 00:00:00,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,NaN,NaN,NaN,21:35:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379349/20/H1/JP,15
14,2020-09-04 00:00:00,15,Skoda/OCTAVIA_KOMBI_15s/23.07.2020,NaN,NaN,NaN,18:15:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379349/20/H1/JP,16
15,2020-09-04 00:00:00,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,NaN,NaN,NaN,18:35:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379349/20/H1/JP,17
16,2020-09-04 00:00:00,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,NaN,NaN,NaN,21:35:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379349/20/H1/JP,18
17,2020-09-05 00:00:00,15,Skoda/OCTAVIA_KOMBI_15s/23.07.2020,NaN,NaN,NaN,17:15:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379349/20/H1/JP,19
18,2020-09-05 00:00:00,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,NaN,NaN,NaN,18:15:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379349/20/H1/JP,20
19,2020-09-05 00:00:00,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,NaN,NaN,NaN,19:15:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379349/20/H1/JP,21

In [16]:
plan.drop(axis='rows', labels=[0,1,2,3], inplace=True)

In [17]:
plan

,Data,Copy,Product,Month,Week,Day,Time,Poz,Position,DPS,...,Nr. Poz,Sum. Pos,Pos,cennik koszt,cennik CPP,po,cennik/pakiet,poprawnosc,NrZlecenia,row_nr
4,2020-09-01 00:00:00,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,NaN,NaN,NaN,18:35:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379349/20/H1/JP,6
5,2020-09-01 00:00:00,15,Skoda/OCTAVIA_KOMBI_15s/23.07.2020,NaN,NaN,NaN,20:15:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379349/20/H1/JP,7
6,2020-09-01 00:00:00,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,NaN,NaN,NaN,20:35:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379349/20/H1/JP,8
7,2020-09-02 00:00:00,15,Skoda/OCTAVIA_KOMBI_15s/23.07.2020,NaN,NaN,NaN,18:15:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379349/20/H1/JP,9
8,2020-09-02 00:00:00,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,NaN,NaN,NaN,22:35:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379349/20/H1/JP,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11673,2020-09-02 00:00:00,15,15 SKODA OCTAVIA LIMO,NaN,NaN,NaN,21:30:00,NaN,B,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2154,11675
11674,2020-09-02 00:00:00,15,15 SKODA OCTAVIA KOMBI,NaN,NaN,NaN,22:30:00,NaN,A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2154,11676
11675,2020-09-04 00:00:00,15,15 SKODA OCTAVIA LIMO,NaN,NaN,NaN,21:39:00,NaN,B,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2154,11677
11676,2020-09-05 00:00:00,15,15 SKODA OCTAVIA LIMO,NaN,NaN,NaN,19:09:00,NaN,A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2154,11678
11677,2020-09-13 00:00:00,15,15 SKODA OCTAVIA KOMBI,NaN,NaN,NaN,20:04:00,NaN,B,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2154,11679

In [18]:
plan.tail()

,Data,Copy,Product,Month,Week,Day,Time,Poz,Position,DPS,...,Nr. Poz,Sum. Pos,Pos,cennik koszt,cennik CPP,po,cennik/pakiet,poprawnosc,NrZlecenia,row_nr
11673,2020-09-02 00:00:00,15,15 SKODA OCTAVIA LIMO,NaN,NaN,NaN,21:30:00,NaN,B,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2154,11675
11674,2020-09-02 00:00:00,15,15 SKODA OCTAVIA KOMBI,NaN,NaN,NaN,22:30:00,NaN,A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2154,11676
11675,2020-09-04 00:00:00,15,15 SKODA OCTAVIA LIMO,NaN,NaN,NaN,21:39:00,NaN,B,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2154,11677
11676,2020-09-05 00:00:00,15,15 SKODA OCTAVIA LIMO,NaN,NaN,NaN,19:09:00,NaN,A,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2154,11678
11677,2020-09-13 00:00:00,15,15 SKODA OCTAVIA KOMBI,NaN,NaN,NaN,20:04:00,NaN,B,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2154,11679

In [19]:
plan.set_index('row_nr', inplace=True)

In [20]:
plan.head()

,Data,Copy,Product,Month,Week,Day,Time,Poz,Position,DPS,...,PT/OFF,Nr. Poz,Sum. Pos,Pos,cennik koszt,cennik CPP,po,cennik/pakiet,poprawnosc,NrZlecenia
row_nr,,,,,,,,,,,,,,,,,,,,,
6,2020-09-01 00:00:00,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,NaN,NaN,NaN,18:35:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379349/20/H1/JP
7,2020-09-01 00:00:00,15,Skoda/OCTAVIA_KOMBI_15s/23.07.2020,NaN,NaN,NaN,20:15:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379349/20/H1/JP
8,2020-09-01 00:00:00,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,NaN,NaN,NaN,20:35:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379349/20/H1/JP
9,2020-09-02 00:00:00,15,Skoda/OCTAVIA_KOMBI_15s/23.07.2020,NaN,NaN,NaN,18:15:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379349/20/H1/JP
10,2020-09-02 00:00:00,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,NaN,NaN,NaN,22:35:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379349/20/H1/JP

In [21]:
plan.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11674 entries, 6 to 11679
Data columns (total 40 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Data                   11674 non-null  object
 1   Copy                   11674 non-null  object
 2   Product                10586 non-null  object
 3   Month                  0 non-null      object
 4   Week                   0 non-null      object
 5   Day                    0 non-null      object
 6   Time                   11674 non-null  object
 7   Poz                    1089 non-null   object
 8   Position               1094 non-null   object
 9   DPS                    0 non-null      object
 10  Kontrolna              0 non-null      object
 11  Ch                     11674 non-null  object
 12  TV station             11674 non-null  object
 13  Programme              11674 non-null  object
 14  Doc GRP plan 16-29     0 non-null      object
 15  Plan GRP 16-49         0 non-null      object
 16  Plan GRP 16-34urban    0 non-null      object
 17  Plan GRP 16-49cab&sat  0 non-null      object
 18  Plan GRP 16-29         0 non-null      object
 19  Plan Doc GRP xx-yy     0 non-null      object
 20  Doc Plan GRP Łapka     0 non-null      object
 21  Doc GRP post 16-29     0 non-null      object
 22  Post GRP 16-49         0 non-null      object
 23  Post GRP 16-34urban    0 non-null      object
 24  Post GRP 16-49cab&sat  0 non-null      object
 25  Post GRP 16-29         0 non-null      object
 26  Post Doc GRP xx-yy     0 non-null      object
 27  OBOP                   0 non-null      object
 28  Post Total             0 non-null      object
 29  INDEX                  0 non-null      object
 30  PT/OFF                 0 non-null      object
 31  Nr. Poz                0 non-null      object
 32  Sum. Pos               0 non-null      object
 33  Pos                    0 non-null      object
 34  cennik koszt           0 non-null      object
 35  cennik CPP             0 non-null      object
 36  po                     0 non-null      object
 37  cennik/pakiet          0 non-null      object
 38  poprawnosc             0 non-null      object
 39  NrZlecenia             11674 non-null  object
dtypes: object(40)
memory usage: 17.6 MB

In [26]:
plan2 = plan[['Data', 'Copy', 'Product', 'Time', 'Ch', 'TV station', 'Programme', 'NrZlecenia']]
plan2

,Data,Copy,Product,Time,Ch,TV station,Programme,NrZlecenia
row_nr,,,,,,,,
6,2020-09-01 00:00:00,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,18:35:00,4FUN DANCE,Polsat Tem. Ogólny,najwiecej-muzyki-na-impreze,379349/20/H1/JP
7,2020-09-01 00:00:00,15,Skoda/OCTAVIA_KOMBI_15s/23.07.2020,20:15:00,4FUN DANCE,Polsat Tem. Ogólny,polo-top,379349/20/H1/JP
8,2020-09-01 00:00:00,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,20:35:00,4FUN DANCE,Polsat Tem. Ogólny,polo-top,379349/20/H1/JP
9,2020-09-02 00:00:00,15,Skoda/OCTAVIA_KOMBI_15s/23.07.2020,18:15:00,4FUN DANCE,Polsat Tem. Ogólny,najwiecej-muzyki-na-impreze,379349/20/H1/JP
10,2020-09-02 00:00:00,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,22:35:00,4FUN DANCE,Polsat Tem. Ogólny,najwiecej-muzyki-na-impreze,379349/20/H1/JP
...,...,...,...,...,...,...,...,...
11675,2020-09-02 00:00:00,15,15 SKODA OCTAVIA LIMO,21:30:00,TVP1,TVP,To był rok! - /13/,2154
11676,2020-09-02 00:00:00,15,15 SKODA OCTAVIA KOMBI,22:30:00,TVP1,TVP,To był rok! - /13/,2154
11677,2020-09-04 00:00:00,15,15 SKODA OCTAVIA LIMO,21:39:00,TVP1,TVP,2p. PN Liga Narodów Holandia - Polska,2154
11678,2020-09-05 00:00:00,15,15 SKODA OCTAVIA LIMO,19:09:00,TVP1,TVP,Opolska rewia gwiazd cz. 2,2154
11679,2020-09-13 00:00:00,15,15 SKODA OCTAVIA KOMBI,20:04:00,TVP1,TVP,Pogoda,2154

In [38]:
plan2.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11674 entries, 6 to 11679
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Data        11674 non-null  object
 1   Copy        11674 non-null  category
 2   Product     10586 non-null  category
 3   Time        11674 non-null  object
 4   Ch          11674 non-null  category
 5   TV station  11674 non-null  category
 6   Programme   11674 non-null  category
 7   NrZlecenia  11674 non-null  category
dtypes: category(6), object(2)
memory usage: 1.6 MB

In [35]:
plan2.Copy = plan2.Copy.astype('category')
plan2.Product = plan2.Product.astype('category')
plan2.Ch = plan2.Ch.astype('category')
plan2['TV station'] = plan2['TV station'].astype('category')
plan2.Programme = plan2.Programme.astype('category')
plan2.NrZlecenia = plan2.NrZlecenia.astype('category')

C:\Users\user\AppData\Local\Temp/ipykernel_5108/1448611920.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  plan2['TV station'] = plan2['TV station'].astype('category')

In [37]:
columns = ['Copy', 'Product', 'Ch', 'TV station', 'Programme', 'NrZlecenia']
for column in columns:
    plan2[column] = plan2[column].astype('category')

C:\Users\user\AppData\Local\Temp/ipykernel_5108/1264108239.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  plan2[column] = plan2[column].astype('category')

In [43]:
plan2.Data

row_nr
6        2020-09-01 00:00:00
7        2020-09-01 00:00:00
8        2020-09-01 00:00:00
9        2020-09-02 00:00:00
10       2020-09-02 00:00:00
                ...
11675    2020-09-02 00:00:00
11676    2020-09-02 00:00:00
11677    2020-09-04 00:00:00
11678    2020-09-05 00:00:00
11679    2020-09-13 00:00:00
Name: Data, Length: 11674, dtype: object

In [44]:
plan2.dtypes

Data            object
Copy          category
Product       category
Time            object
Ch            category
TV station    category
Programme     category
NrZlecenia    category
dtype: object

In [47]:
plan2.Time.value_counts

<bound method IndexOpsMixin.value_counts of row_nr
6        18:35:00
7        20:15:00
8        20:35:00
9        18:15:00
10       22:35:00
           ...
11675    21:30:00
11676    22:30:00
11677    21:39:00
11678    19:09:00
11679    20:04:00
Name: Time, Length: 11674, dtype: object>