In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
import random as rd
from datetime import datetime, time, timedelta

In [26]:
plan = pd.read_excel(r"C:\002 PROGRAMOWANIE\015_PythonTraning\004_PANDA\plik kampanii Skoda Octavia.xlsx", sheet_name='PLAN')
plan.columns = plan.iloc[3].values

In [27]:
plan.drop(axis='rows', labels=[0, 1, 2, 3], inplace=True)

In [5]:
plan.head()

,Data,Copy,Product,Month,Week,Day,Time,Poz,Position,DPS,...,Nr. Poz,Sum. Pos,Pos,cennik koszt,cennik CPP,po,cennik/pakiet,poprawnosc,NrZlecenia,row_nr
4,2020-09-01 00:00:00,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,NaN,NaN,NaN,18:35:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379349/20/H1/JP,6
5,2020-09-01 00:00:00,15,Skoda/OCTAVIA_KOMBI_15s/23.07.2020,NaN,NaN,NaN,20:15:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379349/20/H1/JP,7
6,2020-09-01 00:00:00,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,NaN,NaN,NaN,20:35:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379349/20/H1/JP,8
7,2020-09-02 00:00:00,15,Skoda/OCTAVIA_KOMBI_15s/23.07.2020,NaN,NaN,NaN,18:15:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379349/20/H1/JP,9
8,2020-09-02 00:00:00,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,NaN,NaN,NaN,22:35:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,379349/20/H1/JP,10

In [28]:
plan.set_index('row_nr', inplace=True)

In [9]:
plan.columns

Index(['Data', 'Copy', 'Product', 'Month', 'Week', 'Day', 'Time', 'Poz',
       'Position', 'DPS', 'Kontrolna', 'Ch', 'TV station', 'Programme',
       'Doc GRP plan 16-29', 'Plan GRP 16-49', 'Plan GRP 16-34urban',
       'Plan GRP 16-49cab&sat', 'Plan GRP 16-29', 'Plan Doc GRP xx-yy',
       'Doc Plan GRP Łapka', 'Doc GRP post 16-29', 'Post GRP 16-49',
       'Post GRP 16-34urban', 'Post GRP 16-49cab&sat', 'Post GRP 16-29',
       'Post Doc GRP xx-yy', 'OBOP', 'Post Total', 'INDEX', 'PT/OFF',
       'Nr. Poz', 'Sum. Pos', 'Pos', 'cennik koszt', 'cennik CPP', 'po',
       'cennik/pakiet', 'poprawnosc', 'NrZlecenia'],
      dtype='object')

In [29]:
plan = plan[['Data', 'Copy', 'Product', 'Time', 'Ch', 'TV station', 'Programme', 'NrZlecenia']]

In [30]:
columns = ['Copy', 'Product', 'Ch', 'TV station', 'Programme', 'NrZlecenia']
for column in columns:
    plan[column] = plan[column].astype('category')

In [31]:
isTime = lambda row: True if isinstance(row["Time"], time) else False
plan["IsTime"] = plan.apply(isTime, axis=1)

In [15]:
plan[plan.IsTime == False]

,Data,Copy,Product,Time,Ch,TV station,Programme,NrZlecenia,IsTime
row_nr,,,,,,,,,
2075,2020-09-01 00:00:00,15,Skoda/OCTAVIA_KOMBI_15s/23.07.2020,1900-01-01 05:26:00,4FUN KIDS,Polsat Tem. Ogólny,karaoke,379939/20/H1/JP,False
2083,2020-09-03 00:00:00,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,1900-01-01 00:26:00,4FUN KIDS,Polsat Tem. Ogólny,karaoke,379939/20/H1/JP,False
2084,2020-09-03 00:00:00,15,Skoda/OCTAVIA_KOMBI_15s/23.07.2020,1900-01-01 01:26:00,4FUN KIDS,Polsat Tem. Ogólny,karaoke,379939/20/H1/JP,False
2085,2020-09-03 00:00:00,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,1900-01-01 02:26:00,4FUN KIDS,Polsat Tem. Ogólny,karaoke,379939/20/H1/JP,False
2096,2020-09-05 00:00:00,15,Skoda/OCTAVIA_LIMO_15s/ 23.07.2020,1900-01-01 01:54:00,4FUN KIDS,Polsat Tem. Ogólny,karaoke,379939/20/H1/JP,False
...,...,...,...,...,...,...,...,...,...
8492,2020-09-07 00:00:00,15,NaN,1900-01-01 05:01:00,Zoom TV,Polsat Tem. Ogólny,Szeptunka s5 odc. 21,380096/20/H1/JP,False
8494,2020-09-08 00:00:00,15,NaN,1900-01-01 02:24:00,Zoom TV,Polsat Tem. Ogólny,I love kabaret s2 odc. 08,380096/20/H1/JP,False
8498,2020-09-10 00:00:00,15,NaN,1900-01-01 05:07:00,Zoom TV,Polsat Tem. Ogólny,Szeptunka s5 odc. 24,380096/20/H1/JP,False
8506,2020-09-12 00:00:00,15,NaN,1900-01-01 03:27:00,Zoom TV,Polsat Tem. Ogólny,Ambassada,380096/20/H1/JP,False
8507,2020-09-12 00:00:00,15,NaN,1900-01-01 05:00:00,Zoom TV,Polsat Tem. Ogólny,Szeptunka s5 odc. 26,380096/20/H1/JP,False

In [33]:
addOneDay = (
            lambda row: row.Data + pd.Timedelta(days=1)
            if row["IsTime"] is False
            else row.Data
        )
plan["Data"] = plan.apply(addOneDay, axis=1)

In [34]:
conToTime = (
            lambda row: row["Time"].time() if row["IsTime"] is False else row["Time"]
        )
plan["Time"] = plan.apply(conToTime, axis=1)

In [35]:
plan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11674 entries, 6 to 11679
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Data        11674 non-null  datetime64[ns]
 1   Copy        11674 non-null  category
 2   Product     10586 non-null  category
 3   Time        11674 non-null  object
 4   Ch          11674 non-null  category
 5   TV station  11674 non-null  category
 6   Programme   11674 non-null  category
 7   NrZlecenia  11674 non-null  category
 8   IsTime      11674 non-null  bool
dtypes: bool(1), category(6), datetime64[ns](1), object(1)
memory usage: 455.1+ KB