In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
import random as rd

In [2]:
incidents = pd.read_csv("Canadian Railway Crossing Incidents.csv")

In [3]:
incidents.set_index(['Region', 'EventType'], inplace=True)

In [4]:
incidents.sort_index(inplace=True)

In [5]:
incidents.head(10)

                                   Public automated  Public passive  Private  \
Region           EventType
Alberta          Accidents                        3               7        2
                 Fatalities                       0               0        0
                 Serious injuries                 0               1        2
British Columbia Accidents                        4               1        0
                 Fatalities                       0               0        0
                 Serious injuries                 3               0        0
Manitoba         Accidents                        1               3        0
                 Fatalities                       0               1        0
                 Serious injuries                 0               0        0
New Brunswick    Accidents                        0               0        0

                                   Farm
Region           EventType
Alberta          Accidents            0
                 Fatalities           0
                 Serious injuries     0
British Columbia Accidents            0
                 Fatalities           0
                 Serious injuries     0
Manitoba         Accidents            2
                 Fatalities           0
                 Serious injuries     1
New Brunswick    Accidents            0

In [6]:
incidents.transpose()

Region             Alberta                             British Columbia  \
EventType        Accidents Fatalities Serious injuries        Accidents
Public automated         3          0                0                4
Public passive           7          0                1                1
Private                  2          0                2                0
Farm                     0          0                0                0

Region                                        Manitoba             \
EventType        Fatalities Serious injuries Accidents Fatalities
Public automated          0                3         1          0
Public passive            0                0         3          1
Private                   0                0         0          0
Farm                      0                0         2          0

Region                            New Brunswick  ...      Nova Scotia  \
EventType        Serious injuries     Accidents  ... Serious injuries
Public automated                0             0  ...                0
Public passive                  0             0  ...                0
Private                         0             0  ...                0
Farm                            1             0  ...                0

Region             Ontario                                Quebec             \
EventType        Accidents Fatalities Serious injuries Accidents Fatalities
Public automated         7          1                1         4          1
Public passive           0          0                0         0          0
Private                  2          0                0         1          0
Farm                     0          0                0         0          0

Region                            Saskatchewan
EventType        Serious injuries    Accidents Fatalities Serious injuries
Public automated                0            1          0                0
Public passive                  0            3          0                0
Private                         0            0          0                0
Farm                            0            0          0                0

[4 rows x 30 columns]

In [7]:
envents = incidents.transpose()

In [8]:
envents

Region             Alberta                             British Columbia  \
EventType        Accidents Fatalities Serious injuries        Accidents
Public automated         3          0                0                4
Public passive           7          0                1                1
Private                  2          0                2                0
Farm                     0          0                0                0

Region                                        Manitoba             \
EventType        Fatalities Serious injuries Accidents Fatalities
Public automated          0                3         1          0
Public passive            0                0         3          1
Private                   0                0         0          0
Farm                      0                0         2          0

Region                            New Brunswick  ...      Nova Scotia  \
EventType        Serious injuries     Accidents  ... Serious injuries
Public automated                0             0  ...                0
Public passive                  0             0  ...                0
Private                         0             0  ...                0
Farm                            1             0  ...                0

Region             Ontario                                Quebec             \
EventType        Accidents Fatalities Serious injuries Accidents Fatalities
Public automated         7          1                1         4          1
Public passive           0          0                0         0          0
Private                  2          0                0         1          0
Farm                     0          0                0         0          0

Region                            Saskatchewan
EventType        Serious injuries    Accidents Fatalities Serious injuries
Public automated                0            1          0                0
Public passive                  0            3          0                0
Private                         0            0          0                0
Farm                            0            0          0                0

[4 rows x 30 columns]

In [9]:
envents.loc["Private"]

Region                 EventType
Alberta                Accidents           2
                       Fatalities          0
                       Serious injuries    2
British Columbia       Accidents           0
                       Fatalities          0
                       Serious injuries    0
Manitoba               Accidents           0
                       Fatalities          0
                       Serious injuries    0
New Brunswick          Accidents           0
                       Fatalities          0
                       Serious injuries    0
Newfoundland           Accidents           0
                       Fatalities          0
                       Serious injuries    0
Northwest Territories  Accidents           0
                       Fatalities          0
                       Serious injuries    0
Nova Scotia            Accidents           0
                       Fatalities          0
                       Serious injuries    0
Ontario                Accidents           2
                       Fatalities          0
                       Serious injuries    0
Quebec                 Accidents           1
                       Fatalities          0
                       Serious injuries    0
Saskatchewan           Accidents           0
                       Fatalities          0
                       Serious injuries    0
Name: Private, dtype: int64

In [10]:
envents.loc["Public passive", ('Manitoba', 'Accidents')]

3

In [11]:
envents.iloc[0,5]

3

In [12]:
envents.transpose()

                                        Public automated  Public passive  \
Region                EventType
Alberta               Accidents                        3               7
                      Fatalities                       0               0
                      Serious injuries                 0               1
British Columbia      Accidents                        4               1
                      Fatalities                       0               0
                      Serious injuries                 3               0
Manitoba              Accidents                        1               3
                      Fatalities                       0               1
                      Serious injuries                 0               0
New Brunswick         Accidents                        0               0
                      Fatalities                       0               0
                      Serious injuries                 0               0
Newfoundland          Accidents                        0               0
                      Fatalities                       0               0
                      Serious injuries                 0               0
Northwest Territories Accidents                        0               0
                      Fatalities                       0               0
                      Serious injuries                 0               0
Nova Scotia           Accidents                        1               0
                      Fatalities                       0               0
                      Serious injuries                 0               0
Ontario               Accidents                        7               0
                      Fatalities                       1               0
                      Serious injuries                 1               0
Quebec                Accidents                        4               0
                      Fatalities                       1               0
                      Serious injuries                 0               0
Saskatchewan          Accidents                        1               3
                      Fatalities                       0               0
                      Serious injuries                 0               0

                                        Private  Farm
Region                EventType
Alberta               Accidents               2     0
                      Fatalities              0     0
                      Serious injuries        2     0
British Columbia      Accidents               0     0
                      Fatalities              0     0
                      Serious injuries        0     0
Manitoba              Accidents               0     2
                      Fatalities              0     0
                      Serious injuries        0     1
New Brunswick         Accidents               0     0
                      Fatalities              0     0
                      Serious injuries        0     0
Newfoundland          Accidents               0     0
                      Fatalities              0     0
                      Serious injuries        0     0
Northwest Territories Accidents               0     0
                      Fatalities              0     0
                      Serious injuries        0     0
Nova Scotia           Accidents               0     0
                      Fatalities              0     0
                      Serious injuries        0     0
Ontario               Accidents               2     0
                      Fatalities              0     0
                      Serious injuries        0     0
Quebec                Accidents               1     0
                      Fatalities              0     0
                      Serious injuries        0     0
Saskatchewan          Accidents               0     0
                      Fatalities              0     0
                      Serious injuries        0     0

In [2]:
fuel = pd.read_csv('fuel.csv', usecols=[ 'Year','Make','Model','Range (FT1)','City Range (FT1)'])

In [4]:
fuel.set_index(['Year','Make','Model'],inplace=True)

In [5]:
fuel.head()

                                    Range (FT1)  City Range (FT1)
Year Make       Model
1984 Alfa Romeo GT V6 2.5                   0.0               0.0
                GT V6 2.5                   0.0               0.0
                Spider Veloce 2000          0.0               0.0
                Spider Veloce 2000          0.0               0.0
     AM General DJ Po Vehicle 2WD           0.0               0.0

In [6]:
fuel.loc[(1984)]

                               Range (FT1)  City Range (FT1)
Make       Model
Alfa Romeo GT V6 2.5                   0.0               0.0
           GT V6 2.5                   0.0               0.0
           Spider Veloce 2000          0.0               0.0
           Spider Veloce 2000          0.0               0.0
AM General DJ Po Vehicle 2WD           0.0               0.0
...                                    ...               ...
Volvo      760 GLE                     0.0               0.0
           760 GLE                     0.0               0.0
           760 GLE                     0.0               0.0
           760 GLE                     0.0               0.0
           760 GLE                     0.0               0.0

[1964 rows x 2 columns]

In [7]:
fuel.sort_index(inplace=True)

In [8]:
fuel.head()

                                   Range (FT1)  City Range (FT1)
Year Make       Model
1984 AM General DJ Po Vehicle 2WD          0.0               0.0
                DJ Po Vehicle 2WD          0.0               0.0
                FJ8c Post Office           0.0               0.0
                FJ8c Post Office           0.0               0.0
     Alfa Romeo GT V6 2.5                  0.0               0.0

In [9]:
fuel.loc[(1984)]

                              Range (FT1)  City Range (FT1)
Make       Model
AM General DJ Po Vehicle 2WD          0.0               0.0
           DJ Po Vehicle 2WD          0.0               0.0
           FJ8c Post Office           0.0               0.0
           FJ8c Post Office           0.0               0.0
Alfa Romeo GT V6 2.5                  0.0               0.0
...                                   ...               ...
Volvo      760 GLE                    0.0               0.0
           760 GLE                    0.0               0.0
           760 GLE                    0.0               0.0
           760 GLE                    0.0               0.0
           760 GLE                    0.0               0.0

[1964 rows x 2 columns]

In [10]:
fuel.loc[(1984,'Alfa Romeo')]

                    Range (FT1)  City Range (FT1)
Model
GT V6 2.5                   0.0               0.0
GT V6 2.5                   0.0               0.0
Spider Veloce 2000          0.0               0.0
Spider Veloce 2000          0.0               0.0

In [12]:
fuel.loc[(1984,'Alfa Romeo','Spider Veloce 2000')]

                                    Range (FT1)  City Range (FT1)
Year Make       Model
1984 Alfa Romeo Spider Veloce 2000          0.0               0.0
                Spider Veloce 2000          0.0               0.0

In [13]:
fuel.loc[(1984,'Alfa Romeo','Spider Veloce 2000'), 'Range (FT1)']

Year  Make        Model
1984  Alfa Romeo  Spider Veloce 2000    0.0
                  Spider Veloce 2000    0.0
Name: Range (FT1), dtype: float64

In [14]:
fuel = fuel.transpose()

In [15]:
fuel.head()

Year                          1984                                     \
Make                    AM General
Model            DJ Po Vehicle 2WD DJ Po Vehicle 2WD FJ8c Post Office
Range (FT1)                    0.0               0.0              0.0
City Range (FT1)               0.0               0.0              0.0

Year                                                                       \
Make                              Alfa Romeo
Model            FJ8c Post Office  GT V6 2.5 GT V6 2.5 Spider Veloce 2000
Range (FT1)                   0.0        0.0       0.0                0.0
City Range (FT1)              0.0        0.0       0.0                0.0

Year                                                                       \
Make                                American Motors Corporation
Model            Spider Veloce 2000                   Eagle 4WD Eagle 4WD
Range (FT1)                     0.0                         0.0       0.0
City Range (FT1)                0.0                         0.0       0.0

Year              ...       2012                                     \
Make              ... Mitsubishi
Model             ...     Galant Lancer Lancer Lancer Lancer Lancer
Range (FT1)       ...        0.0    0.0    0.0    0.0    0.0    0.0
City Range (FT1)  ...        0.0    0.0    0.0    0.0    0.0    0.0

Year
Make
Model            Lancer AWD Lancer Evolution Lancer Evolution   i-MiEV
Range (FT1)             0.0              0.0              0.0  62.0000
City Range (FT1)        0.0              0.0              0.0  68.5545

[2 rows x 31684 columns]

In [16]:
fuel.loc[ 'Range (FT1)']

Year  Make        Model
1984  AM General  DJ Po Vehicle 2WD     0.0
                  DJ Po Vehicle 2WD     0.0
                  FJ8c Post Office      0.0
                  FJ8c Post Office      0.0
      Alfa Romeo  GT V6 2.5             0.0
                                       ...
2012  Mitsubishi  Lancer                0.0
                  Lancer AWD            0.0
                  Lancer Evolution      0.0
                  Lancer Evolution      0.0
                  i-MiEV               62.0
Name: Range (FT1), Length: 31684, dtype: float64

In [17]:
fuel.loc[ 'Range (FT1)', 1984]

Make        Model
AM General  DJ Po Vehicle 2WD    0.0
            DJ Po Vehicle 2WD    0.0
            FJ8c Post Office     0.0
            FJ8c Post Office     0.0
Alfa Romeo  GT V6 2.5            0.0
                                ...
Volvo       760 GLE              0.0
            760 GLE              0.0
            760 GLE              0.0
            760 GLE              0.0
            760 GLE              0.0
Name: Range (FT1), Length: 1964, dtype: float64

In [21]:
fuel.loc['Range (FT1)', (1984,'Alfa Romeo')]

Model
GT V6 2.5             0.0
GT V6 2.5             0.0
Spider Veloce 2000    0.0
Spider Veloce 2000    0.0
Name: Range (FT1), dtype: float64

In [22]:
fuel.loc['Range (FT1)',  (1984,'Alfa Romeo','Spider Veloce 2000')]

Year  Make        Model
1984  Alfa Romeo  Spider Veloce 2000    0.0
                  Spider Veloce 2000    0.0
Name: Range (FT1), dtype: float64