In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
import random as rd

In [2]:
frame = pd.read_csv('mcdonalds.csv', usecols=['Item', 'Calories', 'TotalFat', 'Sugars', 'Protein', 'Cholesterol'])

In [3]:
frame.head()

,Item,Calories,TotalFat,Cholesterol,Sugars,Protein
0,Egg McMuffin,300,13.0,260,3,17
1,Egg White Delight,250,8.0,25,3,18
2,Sausage McMuffin,370,23.0,45,2,14
3,Sausage McMuffin with Egg,450,28.0,285,2,21
4,Sausage McMuffin with Egg Whites,400,23.0,50,2,21

In [4]:
frame['TotalFat0'] = 0

In [5]:
frame.head()

,Item,Calories,TotalFat,Cholesterol,Sugars,Protein,TotalFat0
0,Egg McMuffin,300,13.0,260,3,17,0
1,Egg White Delight,250,8.0,25,3,18,0
2,Sausage McMuffin,370,23.0,45,2,14,0
3,Sausage McMuffin with Egg,450,28.0,285,2,21,0
4,Sausage McMuffin with Egg Whites,400,23.0,50,2,21,0

In [6]:
frame["SugarAndFat"] = frame.Sugars + frame.TotalFat
frame.head()

,Item,Calories,TotalFat,Cholesterol,Sugars,Protein,TotalFat0,SugarAndFat
0,Egg McMuffin,300,13.0,260,3,17,0,16.0
1,Egg White Delight,250,8.0,25,3,18,0,11.0
2,Sausage McMuffin,370,23.0,45,2,14,0,25.0
3,Sausage McMuffin with Egg,450,28.0,285,2,21,0,30.0
4,Sausage McMuffin with Egg Whites,400,23.0,50,2,21,0,25.0

In [7]:
frame.insert(loc=2, column='SPF', value=frame.Sugars + frame.Protein+frame.TotalFat)

In [8]:
frame.head()

,Item,Calories,SPF,TotalFat,Cholesterol,Sugars,Protein,TotalFat0,SugarAndFat
0,Egg McMuffin,300,33.0,13.0,260,3,17,0,16.0
1,Egg White Delight,250,29.0,8.0,25,3,18,0,11.0
2,Sausage McMuffin,370,39.0,23.0,45,2,14,0,25.0
3,Sausage McMuffin with Egg,450,51.0,28.0,285,2,21,0,30.0
4,Sausage McMuffin with Egg Whites,400,46.0,23.0,50,2,21,0,25.0

In [9]:
del frame['SugarAndFat']

In [10]:
frame.head()

,Item,Calories,SPF,TotalFat,Cholesterol,Sugars,Protein,TotalFat0
0,Egg McMuffin,300,33.0,13.0,260,3,17,0
1,Egg White Delight,250,29.0,8.0,25,3,18,0
2,Sausage McMuffin,370,39.0,23.0,45,2,14,0
3,Sausage McMuffin with Egg,450,51.0,28.0,285,2,21,0
4,Sausage McMuffin with Egg Whites,400,46.0,23.0,50,2,21,0

In [12]:
frame = frame.drop(columns = ['TotalFat0'])

In [13]:
frame.head()

,Item,Calories,SPF,TotalFat,Cholesterol,Sugars,Protein
0,Egg McMuffin,300,33.0,13.0,260,3,17
1,Egg White Delight,250,29.0,8.0,25,3,18
2,Sausage McMuffin,370,39.0,23.0,45,2,14
3,Sausage McMuffin with Egg,450,51.0,28.0,285,2,21
4,Sausage McMuffin with Egg Whites,400,46.0,23.0,50,2,21

In [14]:
frame.drop(columns=['SPF'], inplace=True)

In [15]:
frame.head()

,Item,Calories,TotalFat,Cholesterol,Sugars,Protein
0,Egg McMuffin,300,13.0,260,3,17
1,Egg White Delight,250,8.0,25,3,18
2,Sausage McMuffin,370,23.0,45,2,14
3,Sausage McMuffin with Egg,450,28.0,285,2,21
4,Sausage McMuffin with Egg Whites,400,23.0,50,2,21