In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
import random as rd

In [2]:
frame = pd.read_csv('mcdonalds.csv', usecols=['Item', 'Category', 'Serving Size', 'Calories', 'TotalFat'])

In [3]:
frame.head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,8.0
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,23.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0

In [4]:
frame.sort_values(by='Calories').head()

         Category                    Item  Serving Size  Calories  TotalFat
125     Beverages  Diet Dr Pepper (Child)  12 fl oz cup         0       0.0
138  Coffee & Tea       Iced Tea (Medium)  21 fl oz cup         0       0.0
137  Coffee & Tea        Iced Tea (Small)  16 fl oz cup         0       0.0
136     Beverages     Dasani Water Bottle    16.9 fl oz         0       0.0
145  Coffee & Tea          Coffee (Small)  12 fl oz cup         0       0.0

In [5]:
frame['Calories'] = frame['Calories'].astype('float')

In [6]:
frame.loc[82, 'Calories'] = np.NaN

In [7]:
frame.loc[82]

Category                      Chicken & Fish
Item            Chicken McNuggets (40 piece)
Serving Size                 22.8 oz (646 g)
Calories                                 NaN
TotalFat                               118.0
Name: 82, dtype: object

In [8]:
frame.sort_values(by='Calories').tail()

,Category,Item,Serving Size,Calories,TotalFat
33,Breakfast,Big Breakfast with Hotcakes and Egg Whites (Re...,14.9 oz (423 g),990.0,46.0
34,Breakfast,Big Breakfast with Hotcakes and Egg Whites (La...,15.4 oz (437 g),1050.0,50.0
31,Breakfast,Big Breakfast with Hotcakes (Regular Biscuit),14.8 oz (420 g),1090.0,56.0
32,Breakfast,Big Breakfast with Hotcakes (Large Biscuit),15.3 oz (434 g),1150.0,60.0
82,Chicken & Fish,Chicken McNuggets (40 piece),22.8 oz (646 g),NaN,118.0

In [9]:
frame.sort_values(by='Calories', na_position='first').head()

,Category,Item,Serving Size,Calories,TotalFat
82,Chicken & Fish,Chicken McNuggets (40 piece),22.8 oz (646 g),NaN,118.0
114,Beverages,Diet Coke (Small),16 fl oz cup,0.0,0.0
139,Coffee & Tea,Iced Tea (Large),30 fl oz cup,0.0,0.0
138,Coffee & Tea,Iced Tea (Medium),21 fl oz cup,0.0,0.0
137,Coffee & Tea,Iced Tea (Small),16 fl oz cup,0.0,0.0

In [3]:
frame.sort_values(by=['Category', 'Item']).head(20)

,Category,Item,Serving Size,Calories,TotalFat
51,Beef & Pork,Bacon Clubhouse Burger,9.5 oz (270 g),720,40.0
53,Beef & Pork,Bacon McDouble,5.7 oz (161 g),440,22.0
42,Beef & Pork,Big Mac,7.4 oz (211 g),530,27.0
49,Beef & Pork,Cheeseburger,4 oz (113 g),290,11.0
54,Beef & Pork,Daily Double,6.7 oz (190 g),430,22.0
50,Beef & Pork,Double Cheeseburger,5.7 oz (161 g),430,21.0
47,Beef & Pork,Double Quarter Pounder with Cheese,10 oz (283 g),750,43.0
48,Beef & Pork,Hamburger,3.5 oz (98 g),240,8.0
55,Beef & Pork,Jalapeño Double,5.6 oz (159 g),430,23.0
52,Beef & Pork,McDouble,5.2 oz (147 g),380,17.0
56,Beef & Pork,McRib,7.3 oz (208 g),500,26.0
46,Beef & Pork,Quarter Pounder Deluxe,8.6 oz (244 g),540,27.0
44,Beef & Pork,Quarter Pounder with Bacon & Cheese,8 oz (227 g),600,29.0
45,Beef & Pork,Quarter Pounder with Bacon Habanero Ranch,8.3 oz (235 g),610,31.0
43,Beef & Pork,Quarter Pounder with Cheese,7.1 oz (202 g),520,26.0
130,Beverages,1% Low Fat Milk Jug,1 carton (236 ml),100,2.5
113,Beverages,Coca-Cola Classic (Child),12 fl oz cup,100,0.0
112,Beverages,Coca-Cola Classic (Large),30 fl oz cup,280,0.0
111,Beverages,Coca-Cola Classic (Medium),21 fl oz cup,200,0.0
110,Beverages,Coca-Cola Classic (Small),16 fl oz cup,140,0.0

In [4]:
frame.sort_values(by=['Category', 'Item'], ascending=[True, False]).head(20)

,Category,Item,Serving Size,Calories,TotalFat
43,Beef & Pork,Quarter Pounder with Cheese,7.1 oz (202 g),520,26.0
45,Beef & Pork,Quarter Pounder with Bacon Habanero Ranch,8.3 oz (235 g),610,31.0
44,Beef & Pork,Quarter Pounder with Bacon & Cheese,8 oz (227 g),600,29.0
46,Beef & Pork,Quarter Pounder Deluxe,8.6 oz (244 g),540,27.0
56,Beef & Pork,McRib,7.3 oz (208 g),500,26.0
52,Beef & Pork,McDouble,5.2 oz (147 g),380,17.0
55,Beef & Pork,Jalapeño Double,5.6 oz (159 g),430,23.0
48,Beef & Pork,Hamburger,3.5 oz (98 g),240,8.0
47,Beef & Pork,Double Quarter Pounder with Cheese,10 oz (283 g),750,43.0
50,Beef & Pork,Double Cheeseburger,5.7 oz (161 g),430,21.0
54,Beef & Pork,Daily Double,6.7 oz (190 g),430,22.0
49,Beef & Pork,Cheeseburger,4 oz (113 g),290,11.0
42,Beef & Pork,Big Mac,7.4 oz (211 g),530,27.0
53,Beef & Pork,Bacon McDouble,5.7 oz (161 g),440,22.0
51,Beef & Pork,Bacon Clubhouse Burger,9.5 oz (270 g),720,40.0
126,Beverages,Sprite (Small),16 fl oz cup,140,0.0
127,Beverages,Sprite (Medium),21 fl oz cup,200,0.0
128,Beverages,Sprite (Large),30 fl oz cup,280,0.0
129,Beverages,Sprite (Child),12 fl oz cup,100,0.0
133,Beverages,Minute Maid Orange Juice (Small),12 fl oz cup,150,0.0

In [5]:
frame = pd.read_csv('mcdonalds.csv', usecols=['Item', 'Category', 'Serving Size', 'Calories', 'TotalFat'], index_col='Item')

In [6]:
frame.head()

,Category,Serving Size,Calories,TotalFat
Item,,,,
Egg McMuffin,Breakfast,4.8 oz (136 g),300,13.0
Egg White Delight,Breakfast,4.8 oz (135 g),250,8.0
Sausage McMuffin,Breakfast,3.9 oz (111 g),370,23.0
Sausage McMuffin with Egg,Breakfast,5.7 oz (161 g),450,28.0
Sausage McMuffin with Egg Whites,Breakfast,5.7 oz (161 g),400,23.0

In [7]:
frame.sort_index(ascending=True).head()

,Category,Serving Size,Calories,TotalFat
Item,,,,
1% Low Fat Milk Jug,Beverages,1 carton (236 ml),100,2.5
Apple Slices,Snacks & Sides,1.2 oz (34 g),15,0.0
Bacon Buffalo Ranch McChicken,Chicken & Fish,5.7 oz (161 g),430,21.0
Bacon Cheddar McChicken,Chicken & Fish,6 oz (171 g),480,24.0
Bacon Clubhouse Burger,Beef & Pork,9.5 oz (270 g),720,40.0

In [10]:
fuel = pd.read_csv('fuel.csv', usecols=['Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'], low_memory=False, index_col='Vehicle ID')
fuel.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [11]:
fuel.loc[27681, 'Combined MPG (FT1)'] = np.NaN

In [12]:
fuel.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,NaN
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [13]:
fuel.sort_values(by=['Make', 'Model']).head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0
28426,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0
27549,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Regular,13.0
28425,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Regular,13.0
1032,1985,AM General,Post Office DJ5 2WD,Special Purpose Vehicle 2WD,Regular,16.0

In [14]:
fuel.sort_values(by='Combined MPG (FT1)', ascending=False).head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
31673,2012,Mitsubishi,i-MiEV,Subcompact Cars,Electricity,112.0
32278,2012,Ford,Focus Electric,Compact Cars,Electricity,105.0
32276,2011,BMW,Active E,Subcompact Cars,Electricity,102.0
30979,2011,Nissan,Leaf,Midsize Cars,Electricity,99.0
30978,2008,MINI,MiniE,Minicompact Cars,Electricity,98.0

In [15]:
fuel.sort_values(by=['Make','Combined MPG (FT1)'], ascending=[True, False]).head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0
28426,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0
1032,1985,AM General,Post Office DJ5 2WD,Special Purpose Vehicle 2WD,Regular,16.0
27549,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Regular,13.0
28425,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Regular,13.0

In [22]:
fuel.sort_values(by='Combined MPG (FT1)', na_position='first', inplace=True)
fuel.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,NaN
32106,2012,Mitsubish,NaN,NaN,NaN,NaN
2914,1987,Lamborghini,Countach,Two Seaters,Premium,7.0
6413,1990,Lamborghini,Countach,Two Seaters,Premium,7.0
5267,1989,Lamborghini,Countach,Two Seaters,Premium,7.0