In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
import random as rd
from datetime import datetime
from datetime import timedelta
import time

In [2]:
products = pd.read_csv('WA_Sales_Products_2012-14.csv')

In [3]:
products.head()

,Retailer country,Order method type,Retailer type,Product line,Product type,Product,Year,Quarter,Revenue,Quantity,Gross margin
0,United States,Fax,Outdoors Shop,Camping Equipment,Cooking Gear,TrailChef Deluxe Cook Set,2012,Q1 2012,59628.66,489,0.347548
1,United States,Fax,Outdoors Shop,Camping Equipment,Cooking Gear,TrailChef Double Flame,2012,Q1 2012,35950.32,252,0.474274
2,United States,Fax,Outdoors Shop,Camping Equipment,Tents,Star Dome,2012,Q1 2012,89940.48,147,0.352772
3,United States,Fax,Outdoors Shop,Camping Equipment,Tents,Star Gazer 2,2012,Q1 2012,165883.41,303,0.282938
4,United States,Fax,Outdoors Shop,Camping Equipment,Sleeping Bags,Hibernator Lite,2012,Q1 2012,119822.20,1415,0.291450

In [4]:
groups = products.groupby(by=['Retailer country', 'Year'])

In [5]:
groups.Revenue.sum()

Retailer country  Year
Australia         2012    2.560704e+07
                  2013    4.779974e+07
                  2014    3.589319e+07
Austria           2012    3.456809e+07
                  2013    4.499674e+07
                              ...
United Kingdom    2013    8.492083e+07
                  2014    6.488166e+07
United States     2012    2.014623e+08
                  2013    2.580366e+08
                  2014    1.913121e+08
Name: Revenue, Length: 63, dtype: float64

In [6]:
groups.Quantity.sum()

Retailer country  Year
Australia         2012     522186
                  2013     839750
                  2014     638845
Austria           2012     702134
                  2013     803771
                           ...
United Kingdom    2013    1492255
                  2014    1127281
United States     2012    4041740
                  2013    4458887
                  2014    3348642
Name: Quantity, Length: 63, dtype: int64

In [7]:
groups['Gross margin'].mean()

Retailer country  Year
Australia         2012    0.447985
                  2013    0.457347
                  2014    0.446609
Austria           2012    0.446084
                  2013    0.456790
                            ...
United Kingdom    2013    0.455388
                  2014    0.447437
United States     2012    0.445991
                  2013    0.453418
                  2014    0.450890
Name: Gross margin, Length: 63, dtype: float64

In [9]:
groups.agg({'Revenue': "sum", 'Quantity': "sum", 'Gross margin': 'mean'})

                            Revenue  Quantity  Gross margin
Retailer country Year
Australia        2012  2.560704e+07    522186      0.447985
                 2013  4.779974e+07    839750      0.457347
                 2014  3.589319e+07    638845      0.446609
Austria          2012  3.456809e+07    702134      0.446084
                 2013  4.499674e+07    803771      0.456790
...                             ...       ...           ...
United Kingdom   2013  8.492083e+07   1492255      0.455388
                 2014  6.488166e+07   1127281      0.447437
United States    2012  2.014623e+08   4041740      0.445991
                 2013  2.580366e+08   4458887      0.453418
                 2014  1.913121e+08   3348642      0.450890

[63 rows x 3 columns]

In [11]:
groups.agg({'Revenue': ["sum", "min", 'max'], 'Quantity': ["sum", "min", 'max'], 'Gross margin': 'mean'})

                            Revenue                  Quantity             \
                                sum  min         max      sum min    max
Retailer country Year
Australia        2012  2.560704e+07  0.0   254026.08   522186   4   6083
                 2013  4.779974e+07  0.0   443746.60   839750  10   9442
                 2014  3.589319e+07  0.0   516135.14   638845   1  20031
Austria          2012  3.456809e+07  0.0   199715.40   702134   5   6471
                 2013  4.499674e+07  0.0   317161.24   803771   4   9662
...                             ...  ...         ...      ...  ..    ...
United Kingdom   2013  8.492083e+07  0.0   481358.23  1492255   6  18356
                 2014  6.488166e+07  0.0   479079.62  1127281   2  22976
United States    2012  2.014623e+08  0.0  1210413.68  4041740   3  35122
                 2013  2.580366e+08  0.0  1415141.91  4458887   8  42431
                 2014  1.913121e+08  0.0  1635687.96  3348642   3  67875

                      Gross margin
                              mean
Retailer country Year
Australia        2012     0.447985
                 2013     0.457347
                 2014     0.446609
Austria          2012     0.446084
                 2013     0.456790
...                            ...
United Kingdom   2013     0.455388
                 2014     0.447437
United States    2012     0.445991
                 2013     0.453418
                 2014     0.450890

[63 rows x 7 columns]